* {
     margin: 0;
     padding: 0;
     box-sizing: border-box;
}



:root {
     --padding:0px;
     --blur: 0px;
     --width: 70%;
     --border-radius: 15px;
     --border:5px solid rgb(235, 216, 50);
     --base: #ffffff
}

body {
     display: flex;
     justify-content: center;
     align-items: center;
     padding: 30px;
     height: 100vh;
     font-family: sans-serif;
     color: aliceblue;

     background: rgb(18, 13, 103);
     background: linear-gradient(90deg, rgba(18, 13, 103, 1) 0%, rgba(156, 58, 212, 1) 7%, rgba(121, 35, 9, 1) 20%, rgba(97, 134, 8, 1) 33%, rgba(46, 158, 95, 1) 48%, rgba(6, 18, 177, 1) 54%, rgba(144, 14, 133, 1) 66%, rgba(210, 206, 75, 1) 80%, rgba(103, 215, 116, 1) 93%, rgba(0, 212, 255, 1) 100%);
}

.container {
     display: flex;
     justify-content: center;
     flex-direction: column;
     background: rgb(18, 13, 103);
     background: linear-gradient(90deg, rgba(18, 13, 103, 1) 0%, rgba(58, 131, 212, 1) 7%, rgba(9, 83, 121, 1) 20%, rgb(23, 202, 193) 33%, rgba(98, 46, 158, 1) 48%, rgba(139, 5, 172, 1) 54%, rgb(219, 17, 202) 66%, rgb(53, 197, 166) 80%, rgb(15, 108, 173) 93%, rgb(12, 87, 102) 100%);
     padding: 20px;
     border-radius: 5px;
     width: 50%;
     height: min-content;
     margin: 0 auto;
     letter-spacing: 0.1rem;
}

img {
     width: var(--width);
     margin-left: 3rem;
     filter: blur(var(--blur));
     transition: filter 0.3s ease, backgroud-color 0.3s ease;
     border: var(--border);
     border-radius: var(--border-radius);
     padding: var(--padding);
     height: 60%;
     background: var(--base);
    
}

.box {
     margin-left: 45px !important;
}

.box>h3 {
     color: rgb(245, 238, 248);
     text-align: left;
     font-size: 1.2rem;
}

.box>input[type=range] {
     width: 100%;
     height: 13px;
     outline: none;
     cursor: pointer;

}




input[type=color] {
     width: 35px;
     height: 35px;
     border-radius: 50%;
     vertical-align: middle;
     border: none;
     outline: none;
     overflow: hidden;
}

.box>input[type=color] ::-webkit-color-swatch {

     border: none;
     border-radius: 50%;
}


.box>input[type=color] ::-webkit-color-swatch-wrapper {
     padding: 0;
     border: none;
     border-radius: 50%;
}

.box {
     margin: 7px;
     text-align: left;
}

div>h2 {
     font-size: 1.3rem;
     padding: 5px;
     letter-spacing: 0.2rem;
     text-align: center;
     font-weight: 600;
     text-transform: capitalize;
     color: black;
}

p {
     font-size: 1.5rem;
     padding: 5px;
     letter-spacing: 0.2rem;
     text-align: center;
     margin-bottom: 10px;
     font-weight: 700;
     color: #fcde9d;
}