* {
     margin: 0;
     padding: 0;
}

body {
     box-sizing: border-box;
     margin: 20px;
     padding: 15px;
     font-family: sans-serif;
     color: aliceblue;

     background: rgb(18, 13, 103);
     background: linear-gradient(90deg, rgba(18, 13, 103, 1) 0%, rgba(156, 58, 212, 1) 7%, rgba(121, 35, 9, 1) 20%, rgba(97, 134, 8, 1) 33%, rgba(46, 158, 95, 1) 48%, rgba(6, 18, 177, 1) 54%, rgba(144, 14, 133, 1) 66%, rgba(210, 206, 75, 1) 80%, rgba(103, 215, 116, 1) 93%, rgba(0, 212, 255, 1) 100%);
}

.container {
     display: flex;
     justify-content: center;
    
     flex-direction: column;
     background: rgb(18, 13, 103);
     background: linear-gradient(90deg, rgba(18, 13, 103, 1) 0%, rgba(58, 131, 212, 1) 7%, rgba(9, 83, 121, 1) 20%, rgba(8, 134, 128, 1) 33%, rgba(98, 46, 158, 1) 48%, rgba(139, 5, 172, 1) 54%, rgba(144, 14, 133, 1) 66%, rgb(53, 197, 166) 80%, rgb(15, 108, 173) 93%, rgb(12, 87, 102) 100%);
     padding: 20px;
     border-radius: 5px;

     width: 500px;
     height: max-content;
     margin: 0 auto ;
     letter-spacing: 0.1rem;
}

img {
     width: 78%;
     margin-left: 3rem;

     padding: 15px 0;
}
.box{
     margin-left: 45px !important;
}

.box>h3 {
     color: white;
     text-align: left;
     font-size: 1.3rem;
}

.box > input {
     width: 395px;
     height: 15px;
     outline: none;
     cursor: pointer;
     
}




#box>input {
     width: 35px;
     height: 35px;
}

.box {
     margin: 8px;
     text-align: left;
}
div > h2{
     font-size: 1.4rem;
     padding: 5px;
     letter-spacing: 0.2rem;
     text-align: center; 
     font-weight: 800;
}
p{
     font-size: 1.4rem;
     padding: 5px;
     letter-spacing: 0.2rem;
     text-align: center;
     margin-bottom: 10px;
     font-weight: 600;
}