* {
     margin: 0;
     padding: 0;
     box-sizing: border-box;

     body {
          display: flex;
          align-items: center;
          justify-content: center;
          min-height: 100vh;
          font-family: serif;
          background-color: rgb(6, 16, 44);
     }

}

.container {
     width: 400px;
     padding: 33px;
    
     background-color: rgb(16, 3, 39);
     border-radius: 5px;
     display: flex;
     flex-direction: column;
     box-shadow: 0 5x 10px rgba(0, 0, 0, 0.5);
}

.container>h2 {
     font-size: 2rem;
     margin-bottom: 2rem;
     color: aliceblue;
}

.container textarea {
     position: relative;
     resize: none;
     height: 200px;
     width: 100%;
     padding: 10px;
     border: 1px solid rgb(240, 195, 223);
     background-color: rgb(10, 2, 26);
     outline: none;
     border-radius: 5px;
font-family: serif;
color: white;

}

.container>p {
     font-size: 1.3rem;
     color: aliceblue;
     margin-top: 20px;
     font: 500;
}

.container textarea::placeholder {
     color: rgb(240, 195, 223);
}



.container p #count{
     font-size: 2rem;
     font-weight: 700;
     margin-left: 10px;
     color: rgb(248, 248, 40);
}