* {
     box-sizing: border-box;
     padding: 0;
     margin: 0;

}

body {
     display: flex;
     align-items: center;
     justify-content: center;
     font-family: serif;
     height: 100vh;
     background: #0f0c29;
     /* fallback for old browsers */
     background: -webkit-linear-gradient(to left, #24243e, #302b63, #0f0c29);
     /* Chrome 10-25, Safari 5.1-6 */
     background: linear-gradient(to left, #24243e, #302b63, #0f0c29);
     /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */


}



#newsletter{
     position: fixed;
     /* top: -100%;
     left: 50%; */
     transform: translate(-50%, -50%);
     z-index:1000 ;
     width: 450px;
     padding: 80px 50px 50px;
     border-radius: 5px;
     /* visibility: hidden; */
     transition: .5s;
     background: #1D2B64;  /* fallback for old browsers */
background: -webkit-linear-gradient(to left, #F8CDDA, #1D2B64);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to left, #F8CDDA, #1D2B64); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

     

}

#newsletter.active{
     top: 50%;
     visibility: visible; 
}

#newsletter h2{
     color: #fff;
     font-size: 2rem;
     text-align: center;
     margin:15px 25px;
}



#newsletter p{
     text-align: center;
     color: #e42162;
}

#newsletter .box{
     margin: 15px 25px;
     width: 100%;
     position: relative;
     display: flex;
     align-self: center;
     justify-content: center;
}

input, button{
width: 100%;
border: 1px solid rgb(105, 19, 216);
padding: 15px;
font-size: 1rem;
outline: none;
}

button {
     position: relative;
     border: none;
     padding: 15px 40px;
     width: 150px;
     color: white;
     background: #780206;
     /* fallback for old browsers */
     background: -webkit-linear-gradient(to left, #061161, #780206);
     /* Chrome 10-25, Safari 5.1-6 */
     background: linear-gradient(to left, #061161, #780206);
     /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
     font-weight: 600;
    
     display: inline-block;
     text-decoration: none;
     border-radius: 5px;
     cursor: pointer;
     transition: 0.5s;
    
}
button:hover{
     letter-spacing: 0.1rem;
     box-shadow: 0 0.5rem 0.5rem rgba(0, 0, 0, 0.2);

}